<nav class="navbar navbar-dark bg-dark">
    
      <a class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/view" routerLinkActive="active">View Employee</a>
      <a class="nav-item nav-link" routerLink="/add" routerLinkActive="active">Add Employee(TDF)</a>
      <a class="nav-item nav-link" routerLink="/add_data/null" routerLinkActive="active">Add Employee(Reactive)</a>
</nav>
<router-outlet></router-outlet>